<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MainSuite">
  <test name="SmokeTest">
    <classes>
      <class name="com.veterinarians.com.VeterinariansAppTests"/>
    </classes>
  </test> <!-- SmokeTest -->
</suite> <!-- MainSuite -->
